.card-container {
  box-shadow: 0px 4px 19px black;
}

.card {
  border-radius: 2.5rem;
  height: 25.875rem;
  background: linear-gradient(180deg, #6400c9 0%, #00c9c9 100%);
  justify-content: center;
  font-family: Josefin Sans;
  font-weight: 600;
  color: white;
}

button {
  font-size: 1.5rem;
  height: 2.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-div {
  height: 2.875rem;
  width: 11.4375rem;
  background: linear-gradient(90deg, #fd00b6 0%, #5100fd 100%);
  border-radius: 0.6875rem;
}

.desc-div {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 2.25rem;
}

.date-div {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 2.25rem;
}

.event-name-div {
  font-size: 3rem;
  font-weight: 700;
}
